body {
  position: relative;
  background-color: #36454F;
}

.bsa-blue {
  background-color: #003366;
}

.oa-red {
  background-color: #E31837;
}

.oa-gray {
  background-color: #36454F;
}

.oa-blue {
  background-color: #005596;
}

.oa-lightgray {
  background-color: #F1F1F1;
}

.oa-silver {
  background-color: #E6E7E8;
}

.content {
  margin-top: 56px;
}

.inset-2 {
  margin: 0 auto 0;
  width: calc(100% - 2em);
}

.inset-1 {
  margin: 0 auto 0;
  width: calc(100% - 1em);
}

#socials {
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto 0;
}

.card-footer>a.btn {
  float: right;
}

.page-title {
  border-radius: .5em;
  padding: 1rem .5rem .5rem;
}

.show-card {
  padding: 1em .5em 0;
  display: flex;
}

.show-card>div {
  border-radius: .5em;
  flex-shrink: 1;
  flex-basis: auto;
}

.info-card {
  padding: 1em .5em 0;
  display: flex;
}

.info-card>div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.social-card {
  padding: 1em .5em 0;
  display: flex;
}

.social-card>div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}





.footer {
  background-color: #36454F;
  background-image: url(./images/bsa_action_folio.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  margin: 2em auto 0;
}

@media screen and (max-width: 992px) {
  .footer {
    background-size: contain;
  }
}

.sponsor-title {
  text-align: center;
  margin-bottom: 0;
  color: #fff;
}

.sponsors {
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto 1em;
}

.sponsor-card {
  padding: 1em .5em 0;
  display: flex;
}

.sponsor-card>div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.sponsors>div {
  justify-content: center;
}

.footer-bottom {
  background-color: #20292F;
  justify-content: center;
}

.footer-bottom p {
  color: #36454F;
}

.footer-bottom a {
  color: #36454F;
}

.footer-bottom a:hover {
  color: #E6E7E8;
}
